/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #202124;
    color: #fff; /* Adicionando cor de texto padrão */
}

/* Header */
header {
    border-bottom: 1px solid #333;
    padding: 1rem 2rem;
    color: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title h1 {
    margin: 0;
}

#actions-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-input {
    background-color: #525356;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 300px;
}

#search-input::placeholder {
    color: #ddd;
}

.export-container {
    display: flex;
    align-items: center;
}

/* Botão de Exportação */
#export-notes {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

#export-notes:hover {
    background-color: #fff;
    color: #333;
}

/* Formulário de nova nota */
#add-note-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    gap: 1rem;
    align-items: center;
}

#add-note-container input {
    flex: 1;
    background-color: #525356;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#add-note-container button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Notas */
#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #202124;
    border-radius: 10px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.note p {
    margin-bottom: 1rem; 
}

.note button {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.note button:hover {
    background-color: #555;
}

/* Botões de ação na nota */
.note .delete-note {
    background-color: #dc3545;
}

.note .delete-note:hover {
    background-color: #c82333;
}

.note .fix-note {
    background-color: #ffc107;
    color: #333;
}

.note .fix-note:hover {
    background-color: #e0a800;
}

.note.fixed {
    background-color: #3c3c3f;
}

/* Ajustes adicionais */
.export-container {
    margin-left: 1rem;
}
